.gcloudignore
.git
.gitignore

**/.DS_Store
**/.env
**/.env.*
**/.gradle
**/build
**/node_modules
**/DerivedData
**/*.aab
**/*.ait
**/*.apk
**/*.jks
**/*.keystore
**/google-services.json
**/GoogleService-Info.plist
**/key.properties
coverage
dist
tmp
